#addTask{
    margin: auto;
    text-align: center;
    padding: 5px;
}

#container{
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

#column1, #column2, #column3{
    width: 32%;
    text-align: center;
    padding: 10px;
}

ul{
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


li[data-priority="normal"] {
    background: none;
}

li[data-priority="important"] {
    background: #ffe082;
}

li[data-priority="urgent"] {
    background: #ff5252;
    color: white;
}

.dragging {
    opacity: 0.5;
    border: 2px dashed #333;
}

.delete-btn {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    color: #444;
}

.delete-btn svg {
    display: block;   /* évite le petit décalage dû à baseline du texte */
}


.delete-btn:hover {
    color: #e53935;
}

